body {
    background-color: #F5D04E;
}
#card {
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 15px 15px 10px #010000;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}
#card img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}